<section class="home">
  <div class="bounds">
    <div fxLayout="row" fxLayoutAlign="center center" id="head-row">

      <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/home_monkey.png" alt="Monkey" id="monkey-home">
      </div>

      <div fxFlex="35" fxLayout="column" fxLayoutAlign="start">
        <h1>Edu-Tracker</h1>
        <p>A resource hub and mark predictor to help you fast track your in person learning experience to success!
        </p>
      </div>

    </div>
  </div>
</section>

<section class="explain">
  <div class="bounds">

    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="spacer"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
        <h2>Our Machine Learning Model</h2>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="55" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/graf.png" alt="Monkey" width="600px">
        <p>Using our grading model, we trained an ensemble of regression models on a dataset of student grades.</p>
      </div>
    </div>

  </div>
</section>

<footer>
  <p>Edu-Tracker Group</p>
  <p><a href="mailto:">edutracker@notrealemail.com</a></p>
</footer>
